<html>
  <head>
    <title>Jununymous - Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="Jununymous, programming, design, fashion, perfume, shose" />
    <meta name="description" content="Personal Blog of Jununymous" />
    <meta property="og:title" content="Jununymous - Blog" />
    <meta property="og:description" content="Personal Blog of Jununymous" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:url" content="" /> -->
    <!-- <meta property="og:image" content="" /> -->
    <!-- <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" /> -->
    <meta name="twitter:site" content="@Jununymous" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="apple-mobile-web-app-title" content="Jununymous - Blog">
    <link rel="stylesheet" href="dist/css/app.min.css">
  </head>
  <body>
    <div id="app"></div>
    <script src="dist/app.min.js"></script>
    <script>
      window.dispatchEvent(new CustomEvent('pageLoad', {
        detail: {
          targetElementId: 'app',
        }
      }));
    </script>
  </body>
</html>
